<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Form Patient</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3 ">
        <form method="post" th:action="@{/save}">


            <div>
                <label>Nom</label>
                <input class="form-control" type="text" name="nom" th:value="${patient.nom}">
                <span class="text-bg-danger" th:errors="${patient.nom}"></span>
            </div>
            <div>
                <label>Date Naissance</label>
                <input class="form-control" type="date" name="datenaissance" th:value="${patient.date}">
                <span class="text-bg-danger" th:errors="${patient.date}"></span>
            </div>
            <div>
                <label>Malade</label>
                <input type="checkbox" name="malade" th:checked="${patient.maladie}">
                <span class="text-bg-danger" th:errors="${patient.maladie}"></span>
            </div>
            <div>
                <label>Score</label>
                <input class="form-control" type="text" name="score" th:value="${patient.score}">
                <span
                        class="text-bg-danger" th:errors="${patient.score}"></span>
            </div>
            <button class="btn btn-primary" type="submit"> Save</button>
        </form>
    </div>
</div>


</body>
</html>